<form [formGroup]="rentalAddForm" (ngSubmit)="addRental()">

<div class="form-group">
  <select class="form-control" formControlName="customerId" required id="customerId" name="customerId">
    <option *ngFor="let customer of customers" [value]="customer.customerId" class="form-control">{{customer.firstName}} {{customer.lastName}}</option>
  </select>
</div>

<div class="form-group">
  <input type="date"  id="rentDate"name="rentDate" formControlName="rentDate" class="form-control">
</div>

<div>
<input type="date"  id="returnDate"name="returnDate" formControlName="returnDate" class="form-control">
</div>

<button type="submit" class="btn btn-primary">Kirala</button>

</form>