<h3>{{title}}</h3>
<table class="table">
    <thead>
      <tr>
       
        <th scope="col">RentalId</th>
        <th scope="col">BrandName</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">RentDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentalsDetail">
      
        <td>{{rental.rentalId}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate}}</td>
      </tr>

    </tbody>
  </table>

